*{
    margin: 0;
    padding: 0;
}
.list a li{
    
    color: white;
    list-style: none;

}
.list a{
    text-decoration: none;
}
.button {
    border: none;
    color:#63808C;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }